.calendar-wrapper table {
	background-color: #FFFFFF; 
	color: #272829; 
	font-family: Tahoma; 
	border-collapse: collapse;
	
}
.calendar-wrapper table tr.day td {
	font-size: 10.0px; 
	font-weight: bold; 
	background: #f6e17f;
}
.calendar-wrapper table tr#first-child td {
	width: 0; 
	font-size: 12px; 
	font-weight: bold;
}

.calendar-wrapper table td {
	width: 30px; 
	height: 20px; 
	text-align: center;
	font-size: 15px;
	cursor: pointer;
}
/* button control */
.calendar-wrapper table button {
	border: 1px solid #E9E5E5; 
	background: #FFFFFF; 
	color: #272829; 
	font-family: Courier, monospace;
	padding: 0 1px;
	height: 20px;
	cursor: pointer;
}
.calendar-wrapper table tr.day td, 
.calendar-wrapper table tr.control td, 
.calendar-wrapper table button {border: none;}

/* colors day */
