<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link href="/css/calendar.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/css/calendar.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700,700i|Roboto:300i,400"
          rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>University</title>
</head>
<body>
<header class="head">
    <a href="#" class="logo">
        <img src="/images/logo.png" alt="logo" class="logotype"/>
    </a>
    <nav>
        <ul class="nav">
            <li>
                <a href="#">
                    <button class="nav__btn" >Розклад</button>
                </a>
            </li>
            <li>
                <a href="#" class="flag">
                    <img src="/images/flag.png" alt="logo" class="ukrflag"/>
                </a>
            </li>
            <li>
                <a href="#" class="flag">
                    <img src="/images/login.png" alt="logo" class="login__round"/>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div class="content">
    <div class="wrapper">
        <div class="context">
            <div class="search">
                <form class="form-wrapper cf">
                    <input type="text" placeholder=" Потiк, Група, Викладач..."/>
                    <button type="submit">Пошук</button>
                </form>
            </div>
            <div class="knob">
                <ul class="button-group">
                    <li>
                        <button class="button" autofocus="autofocus">Група</button>
                    </li>
                    <li>
                        <button class="button">Викладач</button>
                    </li>
                    <li>
                        <button class="button">Потiк</button>
                    </li>
                </ul>
            </div>

            <section>
                <div class="tabl">
                    <table class="htmldbTabbedNavigationList" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="bottom">
                                <a href="#" class="tabcurrent">КН</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">КІУ</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ITM</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ІРТЗІ</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ЕЛБІ</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">АКТ</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ІК</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ФЗН</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ФПО</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ФНІГ</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ЦНСІМ</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">Аспірантура</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">ЦДП</a>
                            </td>
                            <td valign="bottom">
                                <a href="#">Інші</a>
                            </td>
                        </tr>
                    </table>

                    <table summary="" cellpadding="0" border="0" cellspacing="2" class="general">
                        <tr>


                            <td style="padding:5px;vertical-align:top;">
                                <table class="t13FormRegion" style="vertical-align:top;" cellpadding="0" cellspacing="0"
                                       border="0" summary="">
                                    <thead class="t13RegionHeader">
                                    <tr>
                                        <th class="t13RegionTitle">1-й Курс</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="t13RegionBody">


                                            <B>ВПВПС</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ВПВПС-16-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ВПВПС-16-2</a><br/>


                                            <B>ІТКН</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКНу-16-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-2</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-3</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-4</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-5</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-6</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-7</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-8</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ІТКН-16-9</a><br/>


                                            <B>ПЗПІ</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-2</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-3</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-4</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-5</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-6</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-7</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПЗПІ-16-8</a><br/>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t13RegionButtonsTopLine"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>


                            <td style="padding:5px;vertical-align:top;">
                                <table class="t13FormRegion" style="vertical-align:top;" cellpadding="0" cellspacing="0"
                                       border="0" summary="">
                                    <thead class="t13RegionHeader">
                                    <tr>
                                        <th class="t13RegionTitle">2-й Курс</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="t13RegionBody">


                                            <B>ВПС</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ВПС-15-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ВПС-15-2</a><br/>


                                            <B>КН</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">КН-15-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">КН-15-2</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">КН-15-3</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">КН-15-4</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">КН-15-5</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">КН-15-6</a><br/>


                                            <B>ПІ</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПІ-15-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПІ-15-2</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПІ-15-3</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПІ-15-4</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПІ-15-5</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;"
                                                                       href="#">ПІ-15-6</a><br/>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t13RegionButtonsTopLine"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>


                            <td style="padding:5px;vertical-align:top;">
                                <table class="t13FormRegion" style="vertical-align:top;" cellpadding="0" cellspacing="0"
                                       border="0" summary="">
                                    <thead class="t13RegionHeader">
                                    <tr>
                                        <th class="t13RegionTitle">3-й Курс</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="t13RegionBody">


                                            <B>ВПС</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ВПС-14-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ВПС-14-2</a><br/>


                                            <B>КН</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-4</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-5</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-6</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-11</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-12</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-13</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-14-14</a><br/>


                                            <B>ПІ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-14-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-14-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-14-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-14-4</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-14-5</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-14-6</a><br/>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t13RegionButtonsTopLine"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>


                            <td style="padding:5px;vertical-align:top;">
                                <table class="t13FormRegion" style="vertical-align:top;" cellpadding="0" cellspacing="0"
                                       border="0" summary="">
                                    <thead class="t13RegionHeader">
                                    <tr>
                                        <th class="t13RegionTitle">4-й Курс</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="t13RegionBody">


                                            <B>ВПС</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ВПС-13-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ВПС-13-2</a><br/>


                                            <B>КН</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-13-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-13-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-13-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-13-4</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-13-5</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-13-6</a><br/>


                                            <B>ПІ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-13-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-13-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-13-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-13-4</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-13-5</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПІ-13-6</a><br/>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t13RegionButtonsTopLine"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>


                            <td style="padding:5px;vertical-align:top;">
                                <table class="t13FormRegion" style="vertical-align:top;" cellpadding="0" cellspacing="0"
                                       border="0" summary="">
                                    <thead class="t13RegionHeader">
                                    <tr>
                                        <th class="t13RegionTitle">5-й Курс</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="t13RegionBody">


                                            <B>ВПС</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ВПС-12-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ВПС-12-2</a><br/>


                                            <B>ІПЗ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ІПЗс-16-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ІПЗм-16-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ІПЗс-16-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ІПЗм-16-2</a><br/>


                                            <B>ІТП</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ІТПм-16-1</a><br/>


                                            <B>ІУСТ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ІУСТм-16-1</a><br/>


                                            <B>КН</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-12-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-12-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-12-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-12-4</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-12-5</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КН-12-6</a><br/>


                                            <B>КТСВПВ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КТСВПВс-16-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >КТСВПВм-16-1</a><br/>


                                            <B>ПЗС</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПЗСм-16-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#"
                                        >ПЗСм-16-2</a><br/>


                                            <B>ПІ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-12-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-12-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-12-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-12-4</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-12-5</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-12-6</a><br/>


                                            <B>СПР</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">СПРм-16-1</a><br/>


                                            <B>СШІ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">СШІс-16-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">СШІм-16-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">СШІм-16-2</a><br/>


                                            <B>ТЕМВ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ТЕМВм-16-1</a><br/>


                                            <B>УП</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">УПм-16-1</a><br/>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t13RegionButtonsTopLine"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>


                            <td style="padding:5px;vertical-align:top;">
                                <table class="t13FormRegion" style="vertical-align:top;" cellpadding="0" cellspacing="0"
                                       border="0" summary="">
                                    <thead class="t13RegionHeader">
                                    <tr>
                                        <th class="t13RegionTitle">6-й Курс</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="t13RegionBody">


                                            <B>ВПС</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ВПС-11-1</a><br/>


                                            <B>ІПЗ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ІПЗм-15-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ІПЗс-15-1</a><br/>


                                            <B>ІТП</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ІТПМ-15-1+СПРМ-15-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ІТПм-15-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ІТПс-15-1</a><br/>


                                            <B>ІУСТ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ІУСТМ-15-1+УПМ-15-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ІУСТм-15-1</a><br/>


                                            <B>КН</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">КН-11-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">КН-11-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">КН-11-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">КН-11-9</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">КН-11-10</a><br/>


                                            <B>КТСВПВ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">КТСВПВм-15-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">КТСВПВс-15-1</a><br/>


                                            <B>ПЗС</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПЗСм-15-1</a><br/>


                                            <B>ПІ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-11-1</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-11-2</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-11-3</a><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ПІ-11-4</a><br/>


                                            <B>СПР</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">СПРм-15-1</a><br/>


                                            <B>СШІ</B><br/>


                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">СШІс-15-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">СШІм-15-1</a><br/>
                                            <B>ТДВ</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ТДВс-15-1</a><br/>
                                            <B>ТЕМВ</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">ТЕМВм-15-1</a><br/>
                                            <B>УП</B><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">УПм-15-1</a><br/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a style="white-space:nowrap;" href="#">УПМ-15-1+ІТПМ-15-1+СПРМ-15-1</a><br/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="t13RegionButtonsTopLine"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        <div class="timetable">

            <table class="about__tabl">
                <tr>
                    <th class="abot__capt">Розклад</th>
                    <th class="abot__capt">
                        <p>Понедiлок </p>
                        <p>27.05.2017</p>
                    </th>
                    <th class="abot__capt">
                        <p>Вiвторок </p>
                        <p>28.05.2017</p>
                    </th>
                    <th class="abot__capt">
                        <p>Середа </p>
                        <p>29.05.2017</p>
                    </th>
                    <th class="abot__capt">
                        <p>Четверг </p>
                        <p>30.05.2017</p>
                    </th>
                    <th class="abot__capt">
                        <p>П'ятниця </p>
                        <p>31.05.2017</p>
                    </th>
                    <th class="abot__capt">
                        <p>Субота </p>
                        <p>01.06.2017</p>
                    </th>

                </tr>
                <tr>
                    <td class="about__lining">
                        <p>09:30</p>
                        <p>11:05</p>
                    </td>
                    <td class="about__lining">ОДМ Лк 408и</td>
                    <td class="about__lining">30.5</td>
                    <td class="about__lining">23.5</td>
                    <td class="about__lining">40.3</td>
                    <td class="about__lining">40.3</td>
                    <td class="about__lining">40.3</td>
                </tr>
                <tr>
                    <td class="about__lining">
                        <p>11:15</p>
                        <p>12:50</p>
                    </td>
                    <td class="about__lining">ОМз Лк 140</td>
                    <td class="about__lining">ВМ Лк 308и</td>
                    <td class="about__lining">ВМ Конс 36з</td>
                    <td class="about__lining">ВМ Лк 208и</td>
                    <td class="about__lining">ІКГ Лк 406и</td>
                    <td class="about__lining">КУПДМ Лк 601и</td>
                </tr>
                <tr>
                    <td class="about__lining">
                        <p>13:10</p>
                        <p>14:45</p>
                    </td>
                    <td class="about__lining">КУПДМ Лк 601и</td>
                    <td class="about__lining">30.2</td>
                    <td class="about__lining">33.3</td>
                    <td class="about__lining">36.7</td>
                    <td class="about__lining">40.3</td>
                    <td class="about__lining">40.3</td>
                </tr>
                <tr>
                    <td class="about__lining">
                        <p>14:55</p>
                        <p>16:30</p>
                    </td>
                    <td class="about__lining">ІКГ Лк 406и</td>
                    <td class="about__lining">15.6</td>
                    <td class="about__lining">22.3</td>
                    <td class="about__lining">29.3</td>
                    <td class="about__lining">40.3</td>
                    <td class="about__lining">40.3</td>
                </tr>
                <tr>
                    <td class="about__lining">
                        <p>16:40</p>
                        <p>18:15</p>
                    </td>
                    <td class="about__lining">Фіз Лк 408и</td>
                    <td class="about__lining">15.6</td>
                    <td class="about__lining">22.3</td>
                    <td class="about__lining">29.3</td>
                    <td class="about__lining">40.3</td>
                    <td class="about__lining">40.3</td>
                </tr>
            </table>

        </div>
        <!--</section>-->
        <div class="ondisplay">
            <!-- Squared THREE -->
            <div class="calendar">
                <label for="date">Дата початку: </label>
                <input type="text" id="date" name="date" readonly="readonly" size="27" onclick="showcalendar(this)"/>
            </div>
            <div class="squaredThree">
                <input type="checkbox" value="None" id="squaredThree" name="check"/>
                <label for="squaredThree"></label>
                <p> Пропустити пустi днi</p>
            </div>

        </div>
        <div class="additional">
            <div class="about__additionl">
                <div class="subject">
                    <ul>
                        <li>
                            <p class="banner">Предмети:</p>
                        </li>
                        <li>
                            <div class="squar">
                                <input type="checkbox" value="None" id="subject" name="check"/>
                                <label for="subject"></label>
                                <p> Вища математика: Середа О.Г.</p>
                            </div>
                        </li>
                        <li>
                            <div class="squar">
                                <input type="checkbox" value="None" id="person" name="check"/>
                                <label for="person"></label>
                                <p> Інженерна та комп"ютерна графіка: Челомбітько В.Ф.</p>
                            </div>
                        </li>
                        <li>
                            <div class="squar">
                                <input type="checkbox" value="None" id="thing" name="check"/>
                                <label for="thing"></label>
                                <p> Основи графічного дизайну: Бокарєва Ю. С.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="conteiner">
                    <ul>
                        <li>
                            <p class="caption">Типи предметiв:</p>
                        </li>
                        <li>
                            <div class="squar">
                                <input type="checkbox" value="None" id="squa" name="check"/>
                                <label for="squa"></label>
                                <p> ЛБ</p>
                            </div>
                        </li>
                        <li>
                            <div class="squar">
                                <input type="checkbox" value="None" id="squar" name="check"/>
                                <label for="squar"></label>
                                <p> ЛК</p>
                            </div>
                        </li>
                        <li>
                            <div class="squar">
                                <input type="checkbox" value="None" id="square" name="check"/>
                                <label for="square"></label>
                                <p> ПЗ</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="qwer">
            <p class="footer__discription">
                &copy;2016 MoGo free PSD template by
                <a href="#" class="author__link">Laaqiq</a>
            </p></div>
    </div>
</div>

</body>
</html>